body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @keyframes pulse {
  0%, 100% {
    background-color: yellow;
  }
  50% {
    background-color: red;
  }
} */

.card-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  text-align: center;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 60px 50px 15px 20px grey;
  margin: 100px;
  
}

.statement {
  padding: 10px 10px;
  
  
}